.meal-container {
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(19, 19, 19, 0.1);
  text-align: center;
}

.meal-title {
  color: #16a34a;
  font-size: 1.5rem;
  font-weight: bold;
}

.meal-desc {
  color: #666;
}

